
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

canvas {
    border: 2px solid #333;
    background-color: #eee;
    margin-top: 20px;
}
